<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<!-- 如果不使用Diclect，可以不要此配置 -->
<configuration>
	<!-- <plugins> <plugin interceptor="com.myframework.mybatis.DiclectResultSetHandlerInterceptor" 
		/> <plugin interceptor="com.myframework.mybatis.DiclectStatementHandlerInterceptor" 
		/> </plugins> -->
</configuration>
